[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[user]
	name = d-soni
	email = devinsoni1010@gmail.com
[core]
	editor = nano --wait
[credential]
	helper = osxkeychain
[color]
	ui = true
